@CHARSET "UTF-8";
body{
    /*background: url(../../img/bground.jpg) repeat;*/

    background-color: black;
}
#kontener {
    margin-left: 125px;
    margin-right: 120px;
    /*background-color: white;*/
}
#middle{
    background-color: white;
    border-radius: 10px;
    /*border: 1px solid #c71585;*/
    float: left;
    width: 100%;
}

#naglowek {
    background: url(../../img/logo.jpg) no-repeat 0px 0px ;
    height: 300px;
    width: 1023px;
    border: 0px solid black;
    margin-bottom: 10px;
    color: black;
}

#menu {
    margin-left: 30px;
    margin-top: 10px;
    background-color: transparent;
    float: left;
    width: 110px;
    /*border: 1px solid yellow;*/
}

#menu ul {
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    display: block;
}

#menu ul li {
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 140px;
    height: 30px;
    background-color: #1e791e;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    margin-left: -40px;
    padding: 0px;
}

#menu a {
    text-decoration: none;
    margin: 0px;
    color: white;
    padding: 0px;

}

#menu ul a:hover li {
    background-color: #00b001;
}

#content {
    margin-left: 250px;
    margin-right: 10px;
    height: auto;
    /*min-height: 200px;*/
    background-color: transparent;
    /*border: 1px solid red;*/
    padding: 2px;
    /*float: left;*/
}

#stopka {
    color: white;
    padding-top: 30px;
    clear: both;
    /*border: 1px solid black;*/
    text-align: right;
}

#logowanie {
    background-color: #1e791e;
    border: 0px solid black;
    text-align: center;
}

.td1 {
    padding: 10px;
}

#tr1 {
    font-size: 20px;

}

#table1 {
    font-family: Georgia;
    margin-left: 150px;
}

#formwysz {
    margin-left: 300px;
}

body {
    color: black;
}

#wyniki {
    margin-left: 300px;
    word-spacing: 8px;
}

a {
    color: black;
    text-decoration: none;
}
.span12{
    width: 100%;
    float: left;
    margin-top: 20px;
    /*border: 1px solid #da70d6;*/
}

.span6 {
    width: 50%;
    float: left;
    margin-top: 20px;
    /*border: 1px solid orange;*/
}
.span3 {
    width: 25%;
    float: left;
    margin-top: 20px;
    /*border: 1px solid black;*/
}
.button{
    margin-top: 20px;
}
.inButton{
    margin-left: 50px;
}

.row-fluid {
    /*border: 1px solid green;*/
    width: 100%;
    display: block;
    float: left;
    /*clear: both;*/
}

.right-side {
    float: right;
    /*margin-right: 4px;*/
}

.rf-fu {
    border: none !important;
    width: 95px !important;
    margin-bottom: 5px;
}

.avatarUpload .rf-fu-btn-cnt-clr {
    display: none;
}
.sizeListBox{
    width: 150px;
    height: 60px;
}
.bigText{
    font-weight: bold;
    font-size: 24px;
}
.marginBottom{
    margin-bottom: 30px;
}
.marginTop{
    margin-top: 20px;
}
.boldText{
    font-weight: bold;
}
.menuButton{
    background: url(../../img/menu2.gif) no-repeat 0px 0px !important;
    color: white !important;
    border-color: white !important;
    padding-left: 30px;
    text-align: left;
    height: 30px;
    width: 130px;
    border-width: 0px !important;
}
.menuButton:hover{
    background: url(../../img/menu.gif) no-repeat 0px 0px !important;
    color: white !important;
    border-color: white !important;
    padding-left: 30px;
    text-align: left;
    font-weight: 500;
    height: 30px;
    width: 130px;
    border-width: 0px !important;
}
.widthconst{
    width: 400px;
}